.mt-3.mb-1
  h3#avatar # Avatar
  .mt-5.mb-5
    img.avatar.small(src='https://vercel.com/api/www/avatar/?u=evilrabbit&s=180')
    img.avatar(src='https://vercel.com/api/www/avatar/?u=evilrabbit&s=180')
    img.avatar.medium(src='https://vercel.com/api/www/avatar/?u=evilrabbit&s=180')
    img.avatar.large(src='https://vercel.com/api/www/avatar/?u=evilrabbit&s=180')
    .mt-5.mb-5 
      :marked
        ```html
        <img class='avatar small' src='...' />
        <img class='avatar' src='...' />
        <img class='avatar medium' src='...' />
        <img class='avatar large' src='...' />
        ```