.mt-1.mb-1
  h3#badge # Badges
  .mt-5.mb-5
    span.badge.mr-1.mt-2 tag 
    span.badge.mr-1.mt-2 HELLO
    span.badge.mr-1.mt-2 1
    span.badge.success.mr-1.mt-2 success
    span.badge.error.mr-1.mt-2 error
    span.badge.warning.mr-1.mt-2 warning
    span.badge.green.mr-1.mt-2 green
    span.badge.cyan.mr-1.mt-2 cyan
    span.badge.pink.mr-1.mt-2 pink
    p use the #[code @mixin custom-badge($color)] to create custom badges
    :marked
      ```html
      <span class="badge">tag</span>
      <span class="badge">HELLO</span>
      <span class="badge">1</span>
      <span class="badge success">success</span>
      <span class="badge error">error</span>
      <span class="badge warning">warning</span>
      <span class="badge green">green</span>
      <span class="badge cyan">cyan</span>
      <span class="badge pink">pink</span>
      ```