.mt-1.mb-1
  h3#button # Buttons
  .mt-5.mb-5
    p Default Button
    button Click Me
    p Auto Button
    button.auto Auto
    p Disabled Button
    button.disabled Disabled Button
    p Primary Button
    button.primary.mr-2.mb-4 Primary 
    button.primary.success.mr-2.mb-4  Success
    button.primary.warning.mr-2.mb-4  Warning
    button.primary.danger.mr-2.mb-4  Danger
    p Ghost Buttons
    button.ghost.mr-2.mb-4 Ghost 
    button.ghost.success.mr-2.mb-4 Success 
    button.ghost.warning.mr-2.mb-4 Warning 
    button.ghost.danger.mr-2.mb-4 Danger 
    p Button Sizes 
    button.primary.mini.mb-2 Mini
    br
    button.primary.small.mb-2 Small
    br
    button.primary.mb-2 Default
    br
    button.primary.large.mb-2 Large
    p Shadow Button 
    button.ghost.shadow Shadow
    :marked
      ```html
      <button>Click Me</button>
      <button class="disabled">Disabled Button</button>
      <button class="primary">Primary </button>
      <button class="primary success"> Success</button>
      <button class="primary warning"> Warning</button>
      <button class="primary danger"> Danger</button>
      <button class="ghost">Ghost </button>
      <button class="ghost success">Success </button>
      <button class="ghost warning">Warning </button>
      <button class="ghost danger">Danger </button>
      <button class="primary mini">Mini</button>
      <button class="primary small">Small</button>
      <button class="primary">Default</button>
      <button class="primary large">Large</button>
      <button class="ghost shadow">Large</button>
      ```