.mt-1.mb-1
  h3#code # Code
  p  #[code yarn]
  pre.language-bash 
    code.language-bash yarn add @affinity-css
  pre.language-js 
    code.language-js console.log(`Hello World`)
  :marked
    ```html
    <p>
      <code>yarn</code>
    </p>

    <pre class='language-bash'>
      <code class='language-bash'>
        yarn add @affinity-css
      </code>
    </code>

    <pre class='language-js'>
      <code class='language-js'>
        console.log(`Hello World`)
      </code>
    </code>
    ```