.mt-10.mb-10
h3#list # Lists
ol
  li Apple 
  li Mango 
  li Banana
ul 
  li Dog 
  li Cat 
  li Bird
details 
  summary See Code 
  .mt-5.mb-5 
    :marked
      ```html
      <ol>
        <li>Apple</li>
        <li>Mango</li>
        <li>Banana</li>
      </ol>
      <ul>
        <li>Dog</li>
        <li>Cat</li>
        <li>Bird</li>
      </ul>
      ```