.mt-1.mb-1
  h3#list # Lists
  ol
    li Apple 
    li Mango 
    li Banana
  ul 
    li Dog 
    li Cat 
    li Bird

  :marked
    ```html
    <ol>
      <li>Apple</li>
      <li>Mango</li>
      <li>Banana</li>
    </ol>
    <ul>
      <li>Dog</li>
      <li>Cat</li>
      <li>Bird</li>
    </ul>
    ```