.mt-1.mb-1
  h3#note # Notes
  p.note #[span.note-type Note :] Example of Note
  p.note.success #[span.note-type Success :] Example of Success Note
  p.note.warning #[span.note-type Warning :] Example of Warning Note
  p.note.danger #[span.note-type Error :] Example of Danger Note
  :marked
    ```html
    <p class="note"><span class="note-type">Note :</span> Example of Note</p>
    <p class="note success"><span class="note-type">Success :</span> Example of Success Note</p>
    <p class="note warning"><span class="note-type">Warning :</span> Example of Warning Note</p>
    <p class="note error"><span class="note-type">Error :</span> Example of Error Note</p>
    ```