.mt-1.mb-1
  h3#select # Selector
  p Basic Select
  select
    option Dog 
    option Cat
  p Disabled Select 
  select(disabled='true').disabled
    option Dog 
    option Cat
  :marked
    ```html
    <select>
      <option>Dog</option>
      <option>Cat</option>
    </select>

    <select class='disabled'>
      <option>Dog</option>
      <option>Cat</option>
    </select>
    ```