.mt-1.mb-1
  h3#table.mb-5 # Tables
  table
    thead 
      tr 
        th Name
        th Age 
        th Lang
    tbody 
      tr 
        td Deepankar 
        td 19
        td TypeScript 
      tr 
        td Duma 
        td 4
        td Python 
      tr 
        td Danillo 
        td 2
        td C++
  :marked
      ```html
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Age </th>
            <th>Lang</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Deepankar </td>
            <td>19</td>
            <td>TypeScript </td>
          </tr>
          <tr>
            <td>Duma </td>
            <td>4</td>
            <td>Python </td>
          </tr>
          <tr>
            <td>Danillo </td>
            <td>2</td>
            <td>C++</td>
          </tr>
        </tbody>
      </table>
      ```
  