.mt-1.mb-1
  h3#textarea # TextArea
  p Simple TextArea
  textarea This is a Textarea Element
  p Disabled TextArea
  textarea.disabled(disabled=true) This is a Disabled Textarea Element

  :marked
    ```html
    <textarea>This is a Textarea Element</textarea>

    <textarea class='disabled'>This is a Disabled Textarea Element</textarea>
    ```