.mt-1.mb-1
  h3#text # Texts
  p This is Paragraph with #[span Span Text] , #[b Bold Text] , #[small Small Text]

  :marked
    ```html
    <p>This is Paragraph with 
      <span>Span Text</span> , 
      <b>Bold Text</b> ,
      <small>Small Text</small>
    </p> 
    ```