* {
  scroll-behavior: smooth;
}
.cursor {
  cursor: pointer;
}
nav {
  backdrop-filter: saturate(180%) blur(5px);
  position: sticky;
  overflow: hidden;
  top: 0;
  left: 0;
  max-width: inherit;
  display: flex;
  padding: 20px 10px;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.page {
  max-width: 800px;
  margin: 0 auto;
  min-height: 100vh;
}
.body {
  display: flex;
}
.elements-list {
  position: fixed;
  width: 120px;
  height: calc(100vh - 80px);
  overflow-y: scroll;
  padding-left: 10px;
}
.elements-list ul,
li {
  margin: 0px;
}
.elements-list p {
  cursor: pointer;
  font-weight: 600;
  border-bottom: 1px solid var(--background);
}
.elements-list p:hover {
  border-bottom: 1px solid var(--foreground);
}
.no-underline:hover {
  border-bottom: none;
}
.elements-container {
  width: 620px;
  display: flex;
  flex-direction: column;
  margin-left: 180px;
  padding-right: 10px;
}

@media screen and (max-width: 800px) {
  .elements-list {
    display: none;
  }
  .elements-container {
    padding-left: 15px;
    margin-left: 0px;
    width: 100%;
  }
}
