nav {
  backdrop-filter: saturate(180%) blur(5px);
  position: sticky;
  overflow: hidden;
  top: 0;
  min-width: 100px;
  width: 100%;
  display: flex;
  padding: 20px 10px;
  margin: 10px 10px;
  margin-top: 0px;
  justify-content: space-between;
  align-items: center;
}
.page {
  max-width: 800px;
  margin: 0 auto;
  min-height: 100vh;
}
.body {
  display: flex;
}
.elements-list {
  position: fixed;
}
.elements-container {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
}

@media screen and (max-width: 800px) {
  .page {
    padding: 0px 10px;
  }
}
