$success: var(--success)
$warning: var(--warning)
$danger: var(--error)
$foreground: var(--foreground)
$background: var(--background)

@mixin primary($color)
  background-color: $color
  color: $background
  border-color: $color
  &:hover, &:focus
    background-color: $background
    color: $color
    border-color: $color

@mixin ghost($color)
  background: $background
  color: $color
  border-color: $color
  &:hover, &:focus
    background-color: $color
    color: $background
    border-color: $color

button
  box-sizing: border-box
  display: inline-block
  padding: 0px 1.375rem
  height: 2.5rem
  line-height: 2.5rem
  min-width: 12.5rem
  width: auto
  border-radius: 5px
  font-weight: 400
  font-size: 0.875rem
  user-select: none
  outline: none
  -webkit-box-pack: center
  justify-content: center
  text-align: center
  white-space: nowrap
  transition: background 0.8s
  position: relative
  overflow: hidden
  cursor: pointer
  pointer-events: auto
  box-shadow: none
  background-position: center
  color: var(--accents5)
  background-color: var(--background)
  border: 1px solid var(--accents2)

  &.mini
    height: 1.5rem
    line-height: 1.5rem
    padding: 0 1.375rem
    width: initial
    min-width: 5.25rem
    font-size: .75rem

  &.small
    height: 2rem
    line-height: 2rem
    padding: 0 1.25rem
    width: initial
    min-width: 9.375rem
    font-size: .875rem

  &.big, &.huge, &.large
    height: 2.75rem
    line-height: 2.75rem
    padding: 0 1.875rem
    width: initial
    min-width: 15.625rem
    font-size: 1rem

  &.shadow
    box-shadow: 0 3px 10px var(--accents3)

  &:not(.disabled):hover,
  &:not(.disabled):focus
    background: var(--accents1) radial-gradient(circle, transparent 1%, var(--accents1) 1%) center/15000%
    color: var(--foreground)
    background-color: var(--background)
    border-color: var(--foreground)
    cursor: pointer
    pointer-events: auto
    box-shadow: none
    transform: translate3d(0px, 0px, 0px)

  &:not(.disabled):not(.ghost):active
    background-color: var(--accents2)
    background-size: 100%
    transition: background 0s

  &.disabled
    cursor: not-allowed

  &.auto
    width: auto
    min-width: min-content

  &.primary
    // color: var(--background)
    @include primary($foreground)
    &.success
      @include primary($success)
    &.warning
      @include primary($warning)
    &.danger
      @include primary($danger)

  &.ghost
    transition: none
    transition: background-color 0.4s
    @include ghost($foreground)
    &.success
      @include ghost($success)
    &.danger
      @include ghost($danger)
    &.warning
      @include ghost($warning)
