<div class="mt-3 mb-1"><h3 id="avatar"># Avatar</h3><div class="mt-5 mb-5"><img class="avatar small" src="https://vercel.com/api/www/avatar/?u=evilrabbit&amp;s=180"/><img class="avatar" src="https://vercel.com/api/www/avatar/?u=evilrabbit&amp;s=180"/><img class="avatar medium" src="https://vercel.com/api/www/avatar/?u=evilrabbit&amp;s=180"/><img class="avatar large" src="https://vercel.com/api/www/avatar/?u=evilrabbit&amp;s=180"/><div class="mt-5 mb-5"> <pre><code class="lang-html">&lt;img class=&#39;avatar small&#39; src=&#39;...&#39; /&gt;
&lt;img class=&#39;avatar&#39; src=&#39;...&#39; /&gt;
&lt;img class=&#39;avatar medium&#39; src=&#39;...&#39; /&gt;
&lt;img class=&#39;avatar large&#39; src=&#39;...&#39; /&gt;
</code></pre>
</div></div></div>