<div class="mt-1 mb-1"><h3 id="badge"># Badges</h3><div class="mt-5 mb-5"><span class="badge mr-1 mt-2">tag </span><span class="badge mr-1 mt-2">HELLO</span><span class="badge mr-1 mt-2">1</span><span class="badge success mr-1 mt-2">success</span><span class="badge error mr-1 mt-2">error</span><span class="badge warning mr-1 mt-2">warning</span><span class="badge green mr-1 mt-2">green</span><span class="badge cyan mr-1 mt-2">cyan</span><span class="badge pink mr-1 mt-2">pink</span><p>use the <code>@mixin custom-badge($color)</code> to create custom badges</p><pre><code class="lang-html">&lt;span class=&quot;badge&quot;&gt;tag&lt;/span&gt;
&lt;span class=&quot;badge&quot;&gt;HELLO&lt;/span&gt;
&lt;span class=&quot;badge&quot;&gt;1&lt;/span&gt;
&lt;span class=&quot;badge success&quot;&gt;success&lt;/span&gt;
&lt;span class=&quot;badge error&quot;&gt;error&lt;/span&gt;
&lt;span class=&quot;badge warning&quot;&gt;warning&lt;/span&gt;
&lt;span class=&quot;badge green&quot;&gt;green&lt;/span&gt;
&lt;span class=&quot;badge cyan&quot;&gt;cyan&lt;/span&gt;
&lt;span class=&quot;badge pink&quot;&gt;pink&lt;/span&gt;
</code></pre>
</div></div>