<div class="mt-1 mb-1"><h3 id="code"># Code</h3><p> <code>yarn</code></p><pre class="language-bash"> <code class="language-bash">yarn add @affinity-css</code></pre><pre class="language-js"> <code class="language-js">console.log(`Hello World`)</code></pre><pre><code class="lang-html">&lt;p&gt;
  &lt;code&gt;yarn&lt;/code&gt;
&lt;/p&gt;

&lt;pre class=&#39;language-bash&#39;&gt;
  &lt;code class=&#39;language-bash&#39;&gt;
    yarn add @affinity-css
  &lt;/code&gt;
&lt;/code&gt;

&lt;pre class=&#39;language-js&#39;&gt;
  &lt;code class=&#39;language-js&#39;&gt;
    console.log(`Hello World`)
  &lt;/code&gt;
&lt;/code&gt;
</code></pre>
</div>