<div class="mt-1 mb-1"><h3 id="header"># Headers <h1>The Best of Both Worlds</h1><h2>The Best of Both Worlds</h2><h3>The Best of Both Worlds</h3><h4>The Best of Both Worlds</h4><h5>The Best of Both Worlds</h5><h6>The Best of Both Worlds</h6><pre><code class="lang-html">&lt;h1&gt;The Best of Both Worlds&lt;/h1&gt;
&lt;h2&gt;The Best of Both Worlds&lt;/h2&gt;
&lt;h3&gt;The Best of Both Worlds&lt;/h3&gt;
&lt;h4&gt;The Best of Both Worlds&lt;/h4&gt;
&lt;h5&gt;The Best of Both Worlds&lt;/h5&gt;
&lt;h6&gt;The Best of Both Worlds&lt;/h6&gt;
</code></pre>
</h3></div>