<div class="mt-1 mb-1"><h3 id="input"># Inputs</h3><p>Simple Input</p><input class="mr-2 mb-2" value="Basic Input"/><input class="disabled mb-2" value="Disabled Input" disabled="true"/><p>Different States</p><input class="success mr-2 mb-2" value="Success Input"/><input class="warning mr-2 mb-2" value="Warning Input"/><input class="danger mr-2 mb-2" value="Error Name"/><p>Different Sizes </p><input class="mini mb-2" value="Mini Input"/><br/><input class="small mb-2" value="Small Input"/><br/><input class="mb-2" value="Default Input"/><br/><input class="large mb-2" value="Large Input"/><br/><p>Input with Full Width</p><input class="full-width" value="Full Width Input"/><p>Input with Label </p><div class="input-group prefix mb-4"><span class="label prefix">Company</span><input value="Enter Name"/></div><br/><div class="input-group suffix"><input value="Enter Name"/><span class="label suffix">Company</span></div><pre><code class="lang-html">&lt;input /&gt;
&lt;input class=&quot;disabled&quot; /&gt;

&lt;input class=&quot;success&quot; /&gt;
&lt;input class=&quot;warning&quot; /&gt;
&lt;input class=&quot;danger&quot; /&gt;

&lt;input class=&quot;mini&quot; /&gt;
&lt;input class=&quot;small&quot; /&gt;
&lt;input /&gt;
&lt;input class=&quot;large&quot; /&gt;

&lt;input class=&quot;full-width&quot; /&gt;

&lt;div class=&quot;input-group prefix&quot;&gt;
  &lt;span class=&quot;label prefix&quot;&gt;Company&lt;/span&gt;
  &lt;input /&gt;
&lt;/div&gt;

&lt;div class=&quot;input-group suffix&quot;&gt;
  &lt;input /&gt;
  &lt;span class=&quot;label suffix&quot;&gt;Company&lt;/span&gt;
&lt;/div&gt;
</code></pre>
</div>