<div class="mt-1 mb-1"><h3 id="select"># Selector</h3><p>Basic Select</p><select><option>Dog </option><option>Cat</option></select><p>Disabled Select </p><select class="disabled" disabled="true"><option>Dog </option><option>Cat</option></select><pre><code class="lang-html">&lt;select&gt;
  &lt;option&gt;Dog&lt;/option&gt;
  &lt;option&gt;Cat&lt;/option&gt;
&lt;/select&gt;

&lt;select class=&#39;disabled&#39;&gt;
  &lt;option&gt;Dog&lt;/option&gt;
  &lt;option&gt;Cat&lt;/option&gt;
&lt;/select&gt;
</code></pre>
</div>