<div class="mt-1 mb-1"><h3 class="mb-5" id="table"># Tables</h3><table><thead> <tr> <th>Name</th><th>Age </th><th>Lang</th></tr></thead><tbody> <tr> <td>Deepankar </td><td>19</td><td>TypeScript </td></tr><tr> <td>Duma </td><td>4</td><td>Python </td></tr><tr> <td>Danillo </td><td>2</td><td>C++</td></tr></tbody></table><pre><code class="lang-html">&lt;table&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th&gt;Name&lt;/th&gt;
      &lt;th&gt;Age &lt;/th&gt;
      &lt;th&gt;Lang&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;td&gt;Deepankar &lt;/td&gt;
      &lt;td&gt;19&lt;/td&gt;
      &lt;td&gt;TypeScript &lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Duma &lt;/td&gt;
      &lt;td&gt;4&lt;/td&gt;
      &lt;td&gt;Python &lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Danillo &lt;/td&gt;
      &lt;td&gt;2&lt;/td&gt;
      &lt;td&gt;C++&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;
</code></pre>
</div>