<div class="mt-1 mb-1"><h3 id="tag"># Tags</h3><p>Tags</p><span class="af-tag mr-2">Basic </span><span class="af-tag mr-2 success">Success</span><span class="af-tag mr-2 warning">Warning</span><span class="af-tag mr-2 danger">Danger</span><p>Invert Tags</p><span class="af-tag-invert mr-2">Invert</span><span class="af-tag-invert success mr-2">Success</span><span class="af-tag-invert warning mr-2">Warning</span><span class="af-tag-invert danger mr-2">Danger</span><p>use the <code>@mixin tag($color)</code> to create custom badges</p><pre><code class="lang-html">&lt;span class=&quot;af-tag&quot;&gt;Basic&lt;/span&gt;
&lt;span class=&quot;af-tag success&quot;&gt;Success&lt;/span&gt;
&lt;span class=&quot;af-tag warning&quot;&gt;Warning&lt;/span&gt;
&lt;span class=&quot;af-tag danger&quot;&gt;Danger&lt;/span&gt;
&lt;span class=&quot;af-tag-invert&quot;&gt;Invert&lt;/span&gt;
&lt;span class=&quot;af-tag-invert success&quot;&gt;Success&lt;/span&gt;
&lt;span class=&quot;af-tag-invert warning&quot;&gt;Warning&lt;/span&gt;
&lt;span class=&quot;af-tag-invert danger&quot;&gt;Danger&lt;/span&gt;
</code></pre>
</div>