.mt-1.mb-1
  h3#color # Colors
  p Contains All Valid #[b Tailwind CSS] Utility Classes.
  p Examples :
  p.mt-1.orange-4 Tailwind Orange-4
  p.mt-1.purple-4 Tailwind Purple-4
  p.mt-1.red-4 Tailwind Red-4
  p.mt-1.lightBlue-4 Tailwind LightBlue-4
  p.mt-1.indigo-4 Tailwind Indigo-4
  p.mt-1.teal-4 Tailwind Teal-4
  .p-2.mb-4.bg-lime-4 Lime Background
  .p-2.mb-4.bg-cyan-4 Cyan Background
  .p-2.mb-4.bg-indigo-4 Indigo Background
  .p-2.mb-4.bg-pink-4 Pink Background
  :marked
    ```html
    <p class="orange-4">Tailwind Orange-4</p>
    <p class="purple-4">Tailwind Purple-4</p>
    <p class="red-4">Tailwind Red-4</p>
    <p class="lightBlue-4">Tailwind LightBlue-4</p>
    <p class="indigo-4">Tailwind Indigo-4</p>
    <p class="teal-4">Tailwind Teal-4</p>
    <div class="bg-lime-4">Lime Background</div>
    <div class="bg-cyan-4">Cyan Background</div>
    <div class="bg-indigo-4">Indigo Background</div>
    <div class="bg-pink-4">Pink Background</div>
    ```


    