.mt-1.mb-1
  h3#font-size # Utility Font-Sizes
  p.t-xs Hello World
  p.t-sm Hello World
  p.t-base Hello World
  p.t-lg Hello World
  p.t-xl Hello World
  //- p.t-2xl Hello World
  //- p.t-3xl Hello World
  //- p.t-4xl Hello World
  //- p.t-5xl Hello World
  //- p.t-6xl Hello World
  //- p.t-7xl Hello World
  //- p.t-8xl Hello World
  //- p.t-9xl Hello World
  :marked
    ```html
    <p class='t-xs'>Hello World</p>
    <p class='t-sm'>Hello World</p>
    <p class='t-base'>Hello World</p>
    <p class='t-lg'>Hello World</p>
    <p class='t-xl'>Hello World</p>
    <p class='t-2xl'>Hello World</p>
    <p class='t-3xl'>Hello World</p>
    <p class='t-4xl'>Hello World</p>
    <p class='t-5xl'>Hello World</p>
    <p class='t-6xl'>Hello World</p>
    <p class='t-7xl'>Hello World</p>
    <p class='t-8xl'>Hello World</p>
    <p class='t-9xl'>Hello World</p>
    ```