.mt-1.mb-1
  h3#font-weight # Utility Font-Weight
  p.bold-1 Hello World
  p.bold-2 Hello World
  p.bold-3 Hello World
  p.bold-4 Hello World
  p.bold-5 Hello World
  p.bold-6 Hello World
  p.bold-7 Hello World
  p.bold-8 Hello World
  p.bold-9 Hello World
  :marked
    ```html
    <p class='bold-1'>Hello World</p>
    <p class='bold-2'>Hello World</p>
    <p class='bold-3'>Hello World</p>
    <p class='bold-4'>Hello World</p>
    <p class='bold-5'>Hello World</p>
    <p class='bold-6'>Hello World</p>
    <p class='bold-7'>Hello World</p>
    <p class='bold-8'>Hello World</p>
    <p class='bold-9'>Hello World</p>
    ```