.mt-1.mb-1
  h3#margin # Margins
  p Contains All Valid #[b Tailwind CSS] Utility Classes.
  p Examples :
  p.mt-1 #[code m-2 : for margin all sides]
  p.mt-1 #[code mx-2 : for margin x-direction]
  p.mt-1 #[code my-2 : for margin y-direction]
  p.mt-1 #[code ml-2 : for margin-left]
  p.mt-1 #[code mr-2 : for margin-right]
  p.mt-1 #[code mt-2 : for margin-top]
  p.mt-1 #[code mb-2 : for margin-bottom]
  p.my-2 #[code Values 1-20 where 1 = 0.25rem.]