.mt-1.mb-1
  h3#padding # Paddings
  p Contains All Valid #[b Tailwind CSS] Utility Classes.
  p Examples :
  p.mt-1 #[code p-2 : for padding all sides]
  p.mt-1 #[code px-2 : for padding x-direction]
  p.mt-1 #[code py-2 : for padding y-direction]
  p.mt-1 #[code pl-2 : for padding-left]
  p.mt-1 #[code pr-2 : for padding-right]
  p.mt-1 #[code pt-2 : for padding-top]
  p.mt-1 #[code pb-2 : for padding-bottom]
  p.my-2 #[code Values 1-20 where 1 = 0.25rem.]
