div
  ul#nav-list
    p#avatar Avatar
    p#badge Badge
    p#button Buttons
    p#code Code
    p#font-size Font-Sizes
    p#font-weight Font-Weights
    p#header Headers    
    p#input Inputs
    p#list Lists
    p#note Notes
    p#select Select
    p#tag Tags
    p#table Tables
    p#text Texts
    p#textarea TextArea
