div
  ul#nav-list
    p#i.gray-5.no-underline Introduction :  
    p#intro Intro
    p#theme Theme
    p#i.gray-5.no-underline Utilities : 
    p#color Colors
    p#font-size Font-Sizes
    p#font-weight Font-Weights
    p#padding Paddings
    p#margin Margins
    p#i.gray-5.no-underline Components :
    p#avatar Avatar
    p#badge Badge
    p#button Buttons
    p#code Code
    p#header Headers    
    p#input Inputs
    p#list Lists
    p#note Notes
    p#select Select
    p#tag Tags
    p#table Tables
    p#text Texts
    p#textarea TextArea
