ul
  li #[a(href='#textarea') TextArea]
  li #[a(href='#select') Select]
  li #[a(href='#input') Inputs]
  li #[a(href='#header') Headers]
  li #[a(href='#text') Texts]
  li #[a(href='#list') Lists]
  li #[a(href='#avatar') Avatar]
  li #[a(href='#button') Buttons]
  li #[a(href='#note') Notes]
  li #[a(href='#tag') Tags]
  li #[a(href='#badge') Badge]
  li #[a(href='#table') Tables]
  li #[a(href='#code') Code]
  li #[a(href='#font-size') Font-Sizes]
  li #[a(href='#font-weight') Font-Weights]