h3#intro.mt-3 # Introduction
h1.mt-6.mb-6 Affinity CSS
ul.mb-5 
  li.bold-6 Based on Vercel's Design System
  li.bold-6 Some Tailwind's Utility Classes
  li.bold-6 Flex Layout Implementation
  li.bold-6 Sass / Scss mixins for Custom
  li.bold-6 Light / Dark Built-In
  li.bold-6 Under-Development

p.bold-6 Installation via #[code yarn or npm]

:marked
    ```bash 
    yarn add affinity-css
    # or 
    npm i affinity-css
    ```
p.bold-6 Use via #[code cdn]

:marked
    ```html
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/affinity-css@latest/css/index.css">
    ```

p Minified Version

:marked
    ```html
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/affinity-css@latest/css/index.min.css">
    ```






